In [11]:
# script made by Muhammad Syarmine Bin Mohd Shah
# Feels free to contact me at syarmineshah@yahoo.com for feedback
# import required libraries and packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import openpyxl as xl # import the dataset using pandas pd.read_excel with openpyxl package 
import dash
import plotly

In [12]:
# get data from github
url = "SCR_coverage_ratio.csv"
df = pd.read_csv(url)

df

,Firms_ID,2016YE_NWP_(£m),2017YE_NWP_(£m),2018YE_NWP_(£m),2019YE_NWP_(£m),2020YE_NWP_(£m),2016YE_SCR_(£m),2017YE_SCR_(£m),2018YE_SCR_(£m),2019YE_SCR_(£m),...,2016YE_Total_liabilities_(£m),2017YE_Total_liabilities_(£m),2018YE_Total_liabilities_(£m),2019YE_Total_liabilities_(£m),2020YE_Total_liabilities_(£m),2016YE_Excess_of_assets_over_liabilities_(£m)_[=_equity],2017YE_Excess_of_assets_over_liabilities_(£m)_[=_equity],2018YE_Excess_of_assets_over_liabilities_(£m)_[=_equity],2019YE_Excess_of_assets_over_liabilities_(£m)_[=_equity],2020YE_Excess_of_assets_over_liabilities_(£m)_[=_equity]
0,Firm 1,-13779.815629,0.000000,0.000000,0.000000,0.000000,1085.360139,9.635840e-09,0.000000,0.000000,...,69696.557128,0.000000,0.000000,0.000000,0.000000,2031.035937,4.817920,0.000000,0.000000,0.000000
1,Firm 2,28.178059,26.865049,25.064438,23.226445,21.718558,10.190314,1.011357e+01,9.495235,8.146471,...,8.526315,9.585694,8.596011,6.932901,8.526285,33.391180,40.637281,50.621614,57.602326,29.652400
2,Firm 3,0.000000,75.609681,70.578732,78.432782,85.735830,322.955115,3.637823e+02,362.290859,394.295982,...,926.065667,1016.401689,974.733900,1032.497033,1214.913306,583.650604,558.916856,566.073253,598.338699,540.065747
3,Firm 4,22344.199923,23963.910709,25760.390158,25512.748836,24996.021042,16573.644800,1.633275e+04,17103.616000,17219.246080,...,50485.010600,56618.706223,62935.244436,64005.547967,71237.710999,16919.338528,16415.923037,18249.584833,20795.976010,22827.370034
4,Firm 5,68.200993,51.663132,44.010833,42.008556,81.273653,52.824396,3.805377e+01,34.696815,57.231788,...,193.425808,161.417709,118.910867,107.269800,104.922113,148.433518,150.091268,152.205234,142.479147,130.559790
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
320,Firm 321,0.000000,0.000000,-1.011367,-6.599067,24.632234,0.000000,2.586211e-01,62.227588,51.830942,...,0.000000,0.011563,1463.469961,1454.672025,6555.130578,0.000000,3.844471,128.747010,291.664237,295.164914
321,Firm 322,2092.156137,2084.124818,2022.212247,2103.048716,2029.697013,1711.220667,1.641309e+03,1329.471064,1399.098954,...,4356.540094,4196.807794,3563.157504,3562.263544,3749.420368,2106.880505,2532.760949,2580.812898,2262.969251,2135.697712
322,Firm 323,0.000000,0.000000,0.000000,0.000000,0.000000,30.438558,1.523262e+01,5.332069,1.551370,...,32.093423,40.204325,17.498722,11.666018,9.091165,40.334144,61.742553,64.102075,61.516112,4.104700
323,Firm 324,23.415380,22.650321,24.268465,25.811984,26.546638,32.096633,3.020595e+01,29.517977,29.954935,...,214.722877,199.960786,231.214038,222.590029,245.832217,52.133515,46.976232,50.522585,55.057676,53.507509
324,Firm 325,240.999886,252.698937,332.521848,294.886332,0.000000,209.181524,2.238009e+02,256.862723,240.295897,...,1036.142704,1044.558032,1172.729179,1171.754721,0.000000,285.129083,339.565646,334.288033,326.848756,0.000000

In [13]:
df[['Firms_ID','2016YE_SCR_coverage_ratio','2017YE_SCR_coverage_ratio','2018YE_SCR_coverage_ratio','2019YE_SCR_coverage_ratio','2020YE_SCR_coverage_ratio']]

,Firms_ID,2016YE_SCR_coverage_ratio,2017YE_SCR_coverage_ratio,2018YE_SCR_coverage_ratio,2019YE_SCR_coverage_ratio,2020YE_SCR_coverage_ratio
0,Firm 1,1.979865,4.817920e+08,0.000000,0.000000,0.000000
1,Firm 2,3.157430,3.871771e+00,5.137122,6.813341,3.900918
2,Firm 3,1.741407,1.480455e+00,1.505583,1.462225,1.298726
3,Firm 4,1.387370,1.386057e+00,1.424473,1.503160,1.414507
4,Firm 5,2.707616,3.681038e+00,4.226974,2.398853,1.899498
...,...,...,...,...,...,...
320,Firm 321,0.000000,1.432393e+01,1.715355,4.502631,1.697523
321,Firm 322,1.186379,1.351171e+00,1.486424,1.425819,1.381756
322,Firm 323,1.276845,3.905706e+00,11.584196,38.208765,2.660207
323,Firm 324,1.565118,1.498564e+00,1.649258,1.771084,1.707757
324,Firm 325,1.313433,1.462014e+00,1.254034,1.310660,0.000000

In [14]:
df_tall = df.melt(id_vars=['Firms_ID'])
df_tall.shape

(13000, 3)

In [15]:
df_tall.head()

  Firms_ID         variable         value
0   Firm 1  2016YE_NWP_(£m) -13779.815629
1   Firm 2  2016YE_NWP_(£m)     28.178059
2   Firm 3  2016YE_NWP_(£m)      0.000000
3   Firm 4  2016YE_NWP_(£m)  22344.199923
4   Firm 5  2016YE_NWP_(£m)     68.200993

In [16]:
df_tall

,Firms_ID,variable,value
0,Firm 1,2016YE_NWP_(£m),-13779.815629
1,Firm 2,2016YE_NWP_(£m),28.178059
2,Firm 3,2016YE_NWP_(£m),0.000000
3,Firm 4,2016YE_NWP_(£m),22344.199923
4,Firm 5,2016YE_NWP_(£m),68.200993
...,...,...,...
12995,Firm 321,2020YE_Excess_of_assets_over_liabilities_(£m)_...,295.164914
12996,Firm 322,2020YE_Excess_of_assets_over_liabilities_(£m)_...,2135.697712
12997,Firm 323,2020YE_Excess_of_assets_over_liabilities_(£m)_...,4.104700
12998,Firm 324,2020YE_Excess_of_assets_over_liabilities_(£m)_...,53.507509
12999,Firm 325,2020YE_Excess_of_assets_over_liabilities_(£m)_...,0.000000

In [17]:
df_tall.query("variable=='2016YE_NWP_(£m)'")

     Firms_ID         variable         value
0      Firm 1  2016YE_NWP_(£m) -13779.815629
1      Firm 2  2016YE_NWP_(£m)     28.178059
2      Firm 3  2016YE_NWP_(£m)      0.000000
3      Firm 4  2016YE_NWP_(£m)  22344.199923
4      Firm 5  2016YE_NWP_(£m)     68.200993
..        ...              ...           ...
320  Firm 321  2016YE_NWP_(£m)      0.000000
321  Firm 322  2016YE_NWP_(£m)   2092.156137
322  Firm 323  2016YE_NWP_(£m)      0.000000
323  Firm 324  2016YE_NWP_(£m)     23.415380
324  Firm 325  2016YE_NWP_(£m)    240.999886

[325 rows x 3 columns]

In [18]:
# rename the first column "Unnamed: 0" to "Firms_ID" for clarity
df_1 = df_1.rename(columns={'Unnamed: 0':'Firms_ID'})

print(df_1.columns)

NameError: name 'df_1' is not defined

In [ ]:
df_tall.to_csv("df_tall.csv",index=False)

In [ ]:
df_tall.head()

NameError: name 'df_tall' is not defined

In [19]:
df_1.to_csv("df_1tall.csv",index=False)

NameError: name 'df_1' is not defined